body {
	background-color: white;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}
.red-paint {
	width:150px;
	background-color: red;
	margin: 10px,10px,10px,10px;
}